@import "./lib/normalize";
@import "./lib/swiper";
@import "./ui/container";
@import "./components/container";
@import "sections/container";

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  height: fit-content;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  text-rendering: optimizeSpeed;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.title-wrapper {
  @include flex;
  gap: 24px;
  flex-direction: column;
  width: 209px;
  height: 276px;

  .title {
    margin: 0;
    @include font-popins(32px, 700);
  }

  .subtitle {
    margin: 0;
    @include font-popins(18px, 500);
    color: var(--color-text-light);
  }
}
